@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Righteous&family=Tajawal:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --branco: #ffffff;
  --rosa: #c12d6d;
  --azul: #0c7eae;
  --azulP: #060821;
  --azulC: #182246;

  --font1: "Righteous", cursive;
  --font2: "Titillium Web", sans-serif;
}
